{
  "presets": [
    "@vue/app"
  ],
  "plugins": [
    [
      "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        },
      "transform-runtime"
    ]
  ],
  "comments": false
}
